<nav class="flex bg-withe flex-wrap items-center justify-between p-4">
  <a>
    <img
      alt="logo"
      src="/assets/images/logo1.png"
      class="max-h-20 p-2 w-full object-cover"
      routerLink="/home"
    />
  </a>

    <div class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5">
      <a
        class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-black font-bold text-lg hover:text-orange-500"
        routerLink="/"
      >
        Inicio
      </a>
      <a
        class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-black font-bold text-lg hover:text-orange-500"
        routerLink="/course-logic">
        Cursos
      </a>
      <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-black font-bold text-lg hover:text-orange-500">
          Blog
        </a>
      <a
        class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-black font-bold text-lg hover:text-orange-500"
        routerLink="/">
        Contacto
      </a>
    </div>
</nav>
