
<div class="bg-white">
  <!-- Header -->
  <div class="relative pb-32">
    <div class="absolute inset-0">
      <div class="absolute inset-0  mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold tracking-tight text-dark md:text-5xl lg:text-6xl">Retos educativos para inconformistas.</h1>
      <p class="mt-6 max-w-3xl text-xl text-dark">Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames. Dui, amet, nec sit pulvinar.</p>
    </div>
  </div>

  <!-- Overlapping cards -->
</div>
